/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    color: black;
	font-family: 'Lato', sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------*/

header{
	width: 100%;
	height: 8%;
    background-color: green;
    position: fixed;
    top: 0;
    z-index: 1000;
	border-bottom: 3px solid black;
}

h1{
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

}

#headerAdmin{
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#logOutButt{
    height: 50%;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#wrapper{
	background-color: #F5F5F5;
	width: 100%;
	height: 92%;
	position: fixed;
	bottom: 0;
}
/*---------------Menú izquierda----------------------*/
#leftMenu{
	width: 15%;
	height: 92%;
	background-color: #DCDCDC;
	position: fixed;	
	left: 0;
	bottom: 0;
	display: block;
}

#clockSpace{
	width: 100%;
	height: 30%;
	/*background-color: red;*/
	float: left;
	position: relative;
	/*left: 50%;
	top: 0;
	transform: translateX(-50%);*/
}

#clockSpace p{
	text-align: center;
	padding-top: 15px;
}

#avatar{
	width: 100%;
	height: 100%;
	position: inherit;
	border-radius: 100%;
}

p .centerText{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.leftMenuTable{
	/*background-color: blue;*/
	float: left;
	width: 100%;
	height: 70%;
	position: relative;
	bottom: 0;
	left: 0;
}

#uls{
	width: 100%;
	height: 30%;
	position: absolute;
	top: 0;
}
/*#uls a{
	width: 100%;
	height: 100%;
}*/

#uls li{
	border-right: 3px solid green;
	padding: 25px 30px;
	margin-top: 5px;
    background-color: #fff;
   	display: block;
}

#uls li:hover{
	background-color: gray;
}

/*--------------Centro-------------------*/

#clientes{
	width: 65%;
	height: 50%;
	background-color: transparent;
	position: absolute;	
	left: 15%;
	top:  0;
	display: block;
}

#clientesTable1, #clientesTable2{
	width: 50%;
	float: left;
}

#empleados{
	width: 65%;
	height: 50%;
	background-color: transparent;
	position: absolute;	
	left: 15%;
	bottom: 0;
	display: block;
}

/*---------------Derecha-----------------*/

#juicios{
	width: 20%;
	height: 100%;
	background-color: transparent;
	position: absolute;	
	right: 0;
	top: 0;
}

/*--------------Botones----------------*/

.lowButt, .lowButt2{
	background-color: #47525E;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 10px;
    border-radius: 10%;
    color: white;
	position: absolute;	
	right: 5%;
	bottom: 5%;
	/*display: none;*/
}

.lowButt:hover, .lowButt2:hover{
	opacity: 0.7;
}

.lowButt2{
	bottom: 3%;
	/*display: none;*/
}


/*-----------Flecha de regreso-----------------*/

#backArrow{
    height: 25%;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}


/*----------------Tables---------------------*/

.floatingTable{
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

.floatingTable2{
	float:left;
	margin-top:15px;
	margin-right: 15px;
}

.floatingTable3{
	float: left;
	margin-top: 50px;
	margin-left: 15px;
}

h3{
	padding-left: 15px;
	padding-top: 15px;
}


/*----------------Tables Ver-------------------*/

#clientesVer{
	width: 65%;
	height: 50%;
	background-color: transparent;
	position: absolute;	
	left: 15%;
	top:  15%;
	display: block;
}

#clientesTable1, #clientesTable2{
	width: 50%;
	float: left;
}

#empleadosVer{
	width: 65%;
	height: 50%;
	background-color: transparent;
	position: absolute;	
	left: 20%;
	top: 15%;
	display: block;
}

#juiciosVer{
	width: 65%;
	height: 50%;
	background-color: transparent;
	position: absolute;	
	left: 27%;
	top:  15%;
	display: block;
}

/*----------------Form-------------------*/

.form{
	top: 30%;
	position: absolute;
	right: 10%;
	display: none;
}

.formE{
	top: 30%;
	position: absolute;
	right: 1%;
	display: none;
}

.formT{
	top: 30%;
	position: absolute;
	right: 1%;
	display: none;
}


.botonC , .botonMC{
	color: #6c7ae0;
}

.botonME , .botonE{
	background-color: #222222;
	color: #00ad5f;
}

.botonMT , .botonT{
	background-color: white;
	color: #fa4251;
}
